

::-webkit-scrollbar { 
    display: none; 
}

body {
	font-family: "Roboto";
	background-color: #000;
	color: #fff;
	margin: 0px;
	overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

a {
	font-family: "Roboto";
	background-color: #000;
	color: #fff;
	margin: 0px;
	overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

#flex-container{
    display: flex;
}

.header {
    width: 100%;
    display: inline-block;
    text-align: center;
}

.centercontainer {
  height: 100%;
  width: 100%;
  display: flex;
  top:	50%;
  left: 50%;
  margin: -63% 0 0 -35%;
  z-index:5;
  position: absolute;
  text-align:center;
  mix-blend-mode: difference;
  
}

p { 
  mix-blend-mode: screen; 
}  


