

::-webkit-scrollbar { 
    display: none; 
}

body {
	font-family: "Roboto";
	background-color: #000;
	color: #fff;
	margin: 0px;
	overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

a {
	font-family: "Roboto";
	background-color: #000;
	color: #fff;
	margin: 0px;
	overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

#flex-container{
    display: flex;
}

.header {
    width: 100%;
    display: inline-block;
    text-align: center;
}

.centercontainer {
  height: 100%;
  width: 100%;
  display: flex;
  top:	50%;
  left: 50%;
  margin: -65% 0 0 -37%;
  z-index:5;
  position: absolute;
  text-align:center;
  mix-blend-mode: difference;
  
}

p { 
  mix-blend-mode: screen; 
}  

.button {
  border: none;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: #1e1e1e;
  color: #b2b2b2;
  border: 2px solid #b2b2b2;
}

.button:hover {
  background-color: #000000;
  color: white;
}

.volup:hover {
  border: 2px solid #FFFFFF;
}

.voldown:hover {
  border: 2px solid #000000;

}
